<div class="row">
      <div class="col-sm-7">
          
            	
            <div >
              <!-- <p><strong><%= @user.steam %></strong></p> -->
              <p><strong>Steam: </strong><%= @user.steam %></p>
              <p><strong>Playstation: </strong><%= @user.playstation %></p>
              <p><strong>Xbox: </strong><%= @user.xbox %></p>
            </div>
         
        </div>
</div>