<div class="row">
      <div class="col-sm-7">

            <div>
              
              <p><strong>User name: </strong><%= @user.handle %></p>
              <p><strong>Network: </strong><%= @user.network %></p>
              <p><strong>ID: </strong><%= @user.id %></p>
              <p><strong>Player ID: </strong><%= @user.user_id %></p>
              
            </div>
         
        </div>
</div>