<div class="jumbotron">
  <h1>Start Playing!</h1>
  <p>Looking for people to play video games with?</p>
  <p role="button"><%= link_to "Sign Up!", new_user_path, :class => "btn btn-primary btn-lg" %></p>
</div>
